*.iml
.gradle
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/manager/signing.properties
/out
/signing.properties

# 编译产物 / 缓存
*.dex
gradle/wrapper/

# 第三方预编译二进制
server/src/main/jniLibs/

# submodule 相关
.gitmodules
